body {
background-color: grey;

} 
 #tytul {
            color: black;
            font-family:'Courier New', Courier, monospace ;
           
        }

.subtytul {
            color: brown;
        }
         